*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body{
    background-color: black;
    color: white;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.header{
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    /* position: relative; */
    
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.7rem;
}
.logo{
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
.navbar a:hover , .navbar a.active{
    color: chartreuse;
}
#menu{
    font-size: 3.6rem;
    display: none;
}
section{
    min-height: 100vh;
    padding: 8rem 9% 2rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home-detail h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-detail h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 1;
}
.home-detail p {
    font-size: 1.6rem;
    opacity: 1;
}
.social_media a{
    display: inline-flex;
    width: 4rem;
    height:4rem;
    border-radius: 50%;
    color:chartreuse;
    font-size: 2rem;
    border: 2px solid chartreuse;
    background: transparent;
    align-items: center;
    transition: .5s ease;
    justify-content: center;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
}
.social_media a:hover , .social_media a.active{
    background: chartreuse;
    color: black;
    box-shadow: 0 0 20px chartreuse;
}
.home-detail a:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color:chartreuse;
}
.btn{
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2.8rem;
    border-radius: 40px;
    font-weight: 600;
    background: chartreuse;
    text-decoration: none;
    letter-spacing: 1px;
    border:none;
    outline: none;
    transition: .5s ease;
}
.btn:hover{
    background: black;
    color: chartreuse;
    border: 1px solid chartreuse;
}
.home-img , img{
    width: 37vw;
    margin-bottom: 3rem;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}
.about-img img{
    width: 35vw;
}
.allheading{
    text-align: center;
    font-size: 4.5rem;
}
.about-section h2{
    text-align: left;
    line-height: 1.2;
}
.about-section h3{
    font-size: 2.6rem;
}
.about-section p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.service-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.service-section .service-box{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    background: #111;
    text-align: center;
    border: 3px solid #000;
    transition: .5s ease;
}
.service-box:hover{
    border:2px solid chartreuse ;
    transform: scale(1.02);
}
.service h2{
    margin-bottom: 5rem;
}
.service i {
    font-size: 100px;
    color: chartreuse;
}
.service h3{
    font-size: 2.6rem;
}
.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.portfolio{
    background: #000;
}
.portfolio h2{
    margin-bottom: 2rem;
}
.portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #111;
    overflow: hidden;
    display: flex;
}
.portfolio-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2.5rem;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-head{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height:100%;
    background: linear-gradient( rgba(0,0,0,.3),chartreuse);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-head{
    transform: scale(1.2);
}
.portfolio-box:hover .portfolio-head h4{ 
    font-size: 2rem;
}
.portfolio-head p {
    font-size: 1.6rem;
    margin: .3rem 1 1rem;
}
.portfolio-head a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 50%;
    text-decoration: none;
}
.portfolio-head i{
    font-size: 2rem;
    color: #111;
}
.contact h2{
    margin-bottom: 2rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
form input , textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: white;
    background: #111;
    border-radius: .8rem;
    gap: 2.5rem;
    margin: .7rem 0;
}
.sticky{
    border-bottom: 1px solid rgba(0,0,0,.3);
}
form input{
    width: 49%;
}
textarea{
    resize: none;
}
form .btn{
    margin-top:2rem ;
    cursor: pointer;
    width: 20%;
    color: #000;
}
.footer{
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: wrap;
    padding: 2rem 9%;
    
}
.footer .text p{
    font-size: 1.6rem;
    text-align: center;
}
.footerup a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: chartreuse;
    padding: .8rem;
    text-decoration: none;
    border-radius: 50%;
}
.footerup i{
    font-size: 2.4rem;
    color: #111;
    text-align: center;
}
@media(max-width:1200px) {
    html{
        font-size: 55%;
    }
}
@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    .service{
        margin-bottom: 7rem;
    }
    .section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .portfolio{
        margin-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
}
@media(max-width:768px) {
    #menu{
        display: block;
    }
    .navbar{
        position: absolute;
        left: 0;
        top: 100%;
        padding: 1rem 3%;
        background: #000;
        border-top: 1px solid rgba(0,0,0,.3);
        display: none;
        box-shadow:0 .5rem 1rem ;
    }
}